* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* header */
.navbar {
  background-color: black;
  color: #48FC00;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}
.nav-links {
  display: flex;
  list-style-type: none;
  display: inline-block;
  padding: 20px 20px 20px 10px;
  color: #48FC00;
}


/* Hero */
.hero-banner {
  margin-top: 0;
  background-color: black;
  color: red;
  width: 100%;
  background-image: url("../images/stars.jpg");
  background-size: cover;
  background-position: center;
  padding: 200px 50px;
}
.hero-banner p {
  font-size: 30px;
  float: right;
}

h1 {
  font-size: 70px;
}

/* Projects */

.project-card {
  width: 25%;
  height: 500px;

}
.project-image {
  margin-top: 25px;
  width: 250px;
}
#work {
  display: flex;
  flex-wrap: wrap;
}

/* contact */
.contact { 
  display: flex;
  /* list-style-type: none;
  display: inline-block; */
  flex-direction: row;
  
}
.contact li {
  display: flex;
  list-style-type: none;
  display: inline;
  flex-direction: row;
  padding: 20px 20px 20px 10px;
  color: #48FC00;
}
/* footer */
footer {
  background-color: black;
  color: #48FC00;
  text-align: center;
  padding: 20px;
}

a:visited {
  color: green;
}