:root {
  --green: #48FC00;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: rgb(16, 16, 17);
  color: var(--green)
}

h2 {
  margin: 25px 10px ;
  padding: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
a {
  color: var(--green);
}

ul {

  display: flex;
  list-style-type: none;
  display: inline-block;
  padding: 20px 20px 20px 10px;
  color: var(--green);
} 

/* header */
.navbar {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}
.nav-links {
  display: flex;
  display: inline-block;
  padding: 20px 20px 20px 10px;
}


/* Hero */
.hero-banner {
  margin-top: 0;
  background-color: black;
  color: red;
  width: 100%;
  background-image: url("../images/stars.jpg");
  background-size: cover;
  background-position: center;
  padding: 225px 50px;
}
.hero-banner p {
  font-size: 30px;
  float: right;
}

h1 {
  font-size: 75px;
}


/* About */
#about h2 {
  padding: 10px 0 10px 10px;
}
#about li {
  font-size: 16px;
  list-style-type: none;
  display: inline-block;
  padding: 5px 10%;
}
#about h3 {
  padding: 5px 10%;
}


/* Projects */
#work { 
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
#work h2 {
  padding: 10px 0 10px 35px;
}
.project-card {
  width: 45%;
  border: 1px solid #ccc;
  margin: 25px;
}

.project-image {
  max-width: 100%;
}

.text {
  padding: 0 20px ;
}

#mainCard {
  width: 82%;
}

.project-card:hover {
  transform: scale(1.1);
}

/* Responsive */

/* Mobile / Cell */
@media only screen 
and (min-device-width : 355px) 
and (max-device-width : 667px) {
  .project-card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 100px;
    
  }
  .text {
    font-size: 16px;
  }
  #mainCard {
    width: 45%;
    margin: 50px 10px;
  }
  h1 {
    font-size: 35px;
  }
  .hero-banner p {
    font-size: 15px;
  }
  .contact li {
    display: flex;
    font-size: 16PX;
  }
}

/* tablets */

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 990px) {
  .project-card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 250px;
    width: 45%;
    
  }
  .text {
    font-size: 16px;
  }
  #mainCard {
    width: 55%;
    margin: 20px 110px 0 120px;
  }

  .contact li {
    display: flex;
    font-size: 16PX;
  }
  .contact h2 {
    margin-top: 20px;
  }
}




/* contact */
.contact { 
  display: flex;
  flex-direction: row;
  font-size: 24px;
}
.contact ul {
  margin: 0;
  font-weight: bold;
  
}
.contact li {
  display: flex;
  display: inline-block;
  flex-direction: row;
  padding: 20px 20px 20px 10px;
}

.contact h2 {
  margin-top: 20px;
}
/* footer */
footer {
  background-color: black;
  color: var(--green);
  text-align: center;
  padding: 20px;
}

a:visited {
  color: green;
}