* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: rgb(16, 16, 17);
  color: #48FC00
}

h2 {
  margin: 25px 10px ;
  padding: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
a {
  color: #48FC00;
}

ul {

  display: flex;
  list-style-type: none;
  display: inline-block;
  padding: 20px 20px 20px 10px;
  color: #48FC00;
} 

/* header */
.navbar {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}
.nav-links {
  display: flex;
  display: inline-block;
  padding: 20px 20px 20px 10px;
}


/* Hero */
.hero-banner {
  margin-top: 0;
  background-color: black;
  color: red;
  width: 100%;
  background-image: url("../images/stars.jpg");
  background-size: cover;
  background-position: center;
  padding: 225px 50px;
}
.hero-banner p {
  font-size: 30px;
  float: right;
}

h1 {
  font-size: 75px;
}


/* About */
#about h2 {
  padding: 10px 0 10px 10px;
}
#about li {
  font-size: 16px;
  list-style-type: none;
  display: inline-block;
  padding: 5px 10%;
}
#about h3 {
  padding: 5px 10%;
}


/* Projects */
#work { 
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  padding: 50px;
}
#work h2 {
  padding: 10px 0 10px 10px;
}
.project-card {
  width: 45%;
  border: 1px solid #ccc;
  margin: 25px;
}

.project-image {
  max-width: 100%;
}

.project-image .text {
  align-items: center;
}

.project-image:first-child {
  width: 100%;
}
/* .project-card {
  width: 50%;
  height: 500px;
  margin: 25px;
}


#work { 
  display: flex;
  flex-wrap: wrap;
}
.project-card {

} */

/* contact */
.contact { 
  display: flex;
  flex-direction: row;
  font-weight: bold;
}
.contact li {
  display: flex;
  display: inline;
  flex-direction: row;
  padding: 20px 20px 20px 10px;
}
/* footer */
footer {
  background-color: black;
  color: #48FC00;
  text-align: center;
  padding: 20px;
}

a:visited {
  color: green;
}